html{
    background-color: black;
}

.nightStart{
    position: relative;
    background-color: black;
    text-align: center;
    right: 10px;
    width: 1441px;
    height: 695px;
    bottom: 20px;
}

h1{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: white;
    top: 250px;
}

button{
    position: relative;
    background-color: black;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    top: 270px;
}