html{
    background-color: black;
}

h1{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    top: 250px;
}

h6{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 5px;
    text-align: center;
    top: 230px;
}

button{
    position: relative;
    background-color: black;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    left: 550px;
    top: 240px;
}