html{
    background-color: rgb(93, 93, 93);
}

h1{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: white;
    top: 300px;
}

#freddyScare{
    position: relative;
    height: 660px;
    width: 660px;
    left: 400px;
    opacity: 0;
}

#leftDarkness{
    position: relative;
    background-color: black;
    height: 450px;
    width: 260px;
    bottom: 1080px;
    opacity: 1;
}

#leftDoorControl{
    position: relative;
    background-color: red;
    border-color: red;
    height: 50px;
    width: 50px;
    left: 274px;
    bottom: 1370px;
}

#leftDoorLight{
    position: relative;
    background-color: white;
    border-color: white;
    height: 50px;
    width: 50px;
    left: 220px;
    bottom: 1300px;
}

#rightDarkness{
    position: relative;
    background-color: black;
    bottom: 580px;
    height: 450px;
    width: 260px;
    left: 1164px;
    opacity: 1;
}

#rightDoorControl{
    position: relative;
    background-color: red;
    border-color: red;
    height: 50px;
    width: 50px;
    left: 1101px;
    bottom: 870px;
}

#rightDoorLight{
    position: relative;
    background-color: white;
    border-color: white;
    height: 50px;
    width: 50px;
    left: 1047px;
    bottom: 800px;
}

#clock{
    position: relative;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    bottom: 2570px;
    left: 1280px;
}

#rightDoor{
    position: relative;
    height: 5px;
    width: 255px;
    background-color: rgb(193, 193, 193);
    bottom: 2645px;
    left: 1166px;
}

#leftDoor{
    position: relative;
    height: 5px;
    width: 255px;
    background-color: rgb(193, 193, 193);
    bottom: 2650px;
    left: 3px;
}

.rightHallway{
    position: relative;
    height: 450px;
    width: 260px;
    background-color: rgb(222, 211, 180);
    bottom: 580px;
    left: 1164px;
    z-index: -1;
}

.leftHallway{
    position: relative;
    height: 450px;
    width: 260px;
    background-color: rgb(222, 211, 180);
    bottom: 1029px;
    z-index: -1;
}

.doors{
    position: relative;
    bottom: 900px;
}

#battery{
    position: relative;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    bottom: 2010px;
}

#noPower{
    position: relative;
    width: 260px;
    height: 300px;
    object-fit: cover;
    object-position: -100% 9;
    opacity: 0;
    bottom: 210px;
    right: 664px;
    z-index: 5;
}

#bonnieDoor{
    position: relative;
    bottom: 130px;
    width: 160px;
    height: 350px;
    right: 877px;
    z-index: 0;
    opacity: 0;
}

#chicaDoor{
    position: relative;
    left: 70px;
    bottom: 150px;
    width: 250px;
    height: 350px;
    opacity: 0;
    z-index: 0;
}
