html{
    background-color: #272727;
}

button{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #272727;
    border-color: #272727;
}

.characterNames{
    position: relative;
    top: 270px;
    left: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.bunnyBonnie{
    position: relative;
    left: 120px;
}

.chickenChica{
    position: relative;
    left: 280px;
}

.pirateFoxy{
    position: relative;
    left: 440px;
}

.hardMode{
    position: relative;
    bottom: 755px;
    left: 1235px;
}

#freddy{
    position: relative;
    bottom: 150px;
    right: 900px;
    width: 195px;
    height: 350px;
}

#bonnie{
    position: relative;
    bottom: 150px;
    right: 725px;
    width: 160px;
    height: 350px;
}

#chica{    
    position: relative;
    bottom: 500px;
    left: 750px;
    width: 250px;
    height: 350px;
}

#foxy{
    position: relative;
    bottom: 500px;
    left: 900px;
    width: 230px;
    height: 350px;
}